@font-face {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;;
    src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    background: #b8b4a5; 
    text-align: center;
    color: #333;            
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    padding-top: 50px;
    font-size:x-large;
}

.link{
    font-weight: bold;
    font-size: large;
}

a {
    color: #7a7267; 
}

a:hover {
    color: #424844; 
}

a:visited {
    color: rgb(99, 109, 119);       
}

a:active {
    color: #5b645f; 
}

main {
        display: block;
        margin: 0 auto;
        max-width: 800px; 
        padding: 1em;
    
}

#item1 {
    grid-column: 1 / -1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black; 
}

.content {
    margin: 20px 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 800px 50px;
 
}

.item1{
    grid-column-start: 1;
    grid-column-end: 2;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        margin-left: 1em; 
        margin-right: 1em; 
    }


    .grid-item {
        grid-column: 1; 
    }

   
    .grid-item img {
        width: 100%;
        height: auto;
    }
}

.highlighted {
    background-color: rgb(99, 132, 138);
}





footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid black; 
}

