img {
    position: fixed;
    right: 20%;
    bottom: 0px;
  }
  
  body{
  
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .centered{
  
    text-align: center;
  }
  
  .text{
  
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 2em ;
  }